{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - One 2 One{% endblock %}

{% block body %}

    {% if one2oneHostedList is not empty %}
        <div>
            <h3>Hosted</h3>
            {% for one2one in one2oneHostedList %}
                <div>
                    <h3>Subject: {{ one2one.subject.username }}</h3>

                    <span>
                        <a href="{{ path('one_2_one_details', {'id': one2one.id}) }}">
                            {{ one2one.plannedOn|date('d/m/Y') }}
                        </a>
                    </span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div>
        <h3>Subject</h3>
        {% for one2one in one2oneSubjectList %}
            <div>
                <h3>Host: {{ one2one.host.username }}</h3>

                <span>
                    <a href="{{ path('one_2_one_details', {'id': one2one.id}) }}">
                        {{ one2one.plannedOn|date('d/m/Y') }}
                    </a>
                </span>
            </div>
        {% else %}
            {{ 'one2one.subject.list.empty'|trans }}
        {% endfor %}
    </div>

{% endblock %}
